<div class="row no-gutters">
  <div class="col-md-12">
    <ol class="breadcrumb breadcrumb-main" style="background-color: #e0e0e0;">
      <li class="active">
        VK-Aufträge
      </li>
    </ol>
    {{!-- <button {{action 'saveGamePath' model}} type="button" class="md-button md-fab-1 md-button-abs-context md-button-green"><i class="fa fa-save"></i></button> --}}
  </div>
</div>

<div class="card card-white">
  <table class="table table-md">
    <thead>
      <tr>
        <th>VK</th>
        <th>Handelspartner</th>
        <th>Tour</th>
        <th>Versand</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |purchaseOrder|}}
        {{#link-to 'purchase-order' purchaseOrder tagName="tr"}}
          <td>{{purchaseOrder.baanId}}</td>
          <td>{{purchaseOrder.shippingAddress.consigneeFull}}</td>
          <td>{{purchaseOrder.shippingRoute.name}}</td>
          <td>{{purchaseOrder.formattedDate}}</td>
        {{/link-to}}
      {{/each}}
    </tbody>
  </table>
  {{infinity-loader infinityModel=model}}
</div>
