input:active,
input:focus {
  outline: 0;
  box-shadow: none !important;
}

.form-control {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #e0e0e0;
  resize: none;
}

.form-control:active,
.form-control:focus {
  border-bottom-color: #b4b4b4;
  box-shadow: none;
}

.fg-line {
  position: relative;
  vertical-align: top;
  /* Validation Stats */
}

.fg-line:not(.disabled):after,
.fg-line:not(.readonly):after {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  content: "";
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.fg-line:not([class*=has-]):after {
  background: #2196f3;
}

.fg-line.input-toggled:after {
  width: 100%;
}

.fg-line:hover:after {
  width: 100%;
}
