.list-group-sidebar .list-group-item {
  border: 0;
}

.list-group-sidebar .list-group-item:first-child {
  border-top: 1px solid #dfdfdf;
}

.list-group-item {
  height: 3rem;
  padding-left: 0;
  padding-right: 1rem;
  // line-height: 3rem;
}

.list-group-item .item-icon {
  left: 1rem;
  position: absolute;
  vertical-align: center;
}

.item-text {
  padding-left: 1rem;
}

.item-icon + .item-text {
  padding-left: 4.5rem;
}

// .list-group-item .item-text {
//   // padding-left: 1.786125rem;
//   padding-left: 4.5rem;
// }

.list-group-sidebar-right {
  color: #555;
  .list-group-item {
    // background-color: #fafafa;
  }
}
