@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

$navbar-border-radius: 0;
$breadcrumb-padding-vertical: 2rem;

$font-family-base: 'Roboto', sans-serif;

$list-group-active-bg: #fff;
$list-group-active-color: #42a5f5;
$list-group-active-border: #ddd;
$list-group-hover-bg: #fff !default;
$list-group-link-hover-color: $list-group-active-color !default;

@import 'bootstrap';

@import 'mixins/box-shadow';
@import 'list-group';
@import 'form';

.text-align-right {
  text-align: right;
}

::-webkit-scrollbar {
  background: #fafafa;
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  -webkit-border-radius: 0;
}

html,
body {
  height: 100%;
  // overflow-y: hidden;
}

body > .ember-view {
  height: 100%;
}

.container-fluid > .row {
  height: 100%;
  // height: inherit;
}

.height-full {
  height: 100%;
}

body { padding-top: 3.375rem; }

.navbar-right {
  // background-color: #fafafa;
  background-color: #ffffff;
  bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  right: 0;
  top: 54px;
  z-index: 7;

  .table {
    td,
    th {
      border: 0;
    }
  }
}

[data-ember-action] {
  cursor: pointer;
}

.no-gutters {
  // margin-right: 0;
  // margin-left: 0;

  > [class^="col-"],
  > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-md {
  @include mat-box-shadow(1);
}

.md-bg-green {
  background-color: #4caf50;
  color: #fff;
}

.table-md {
  thead th {
    color: lighten(#000, 46%);
    font-size: 12px;
    font-weight: normal;
    height: 56px;
  }

  tbody tr {
    color: lighten(#000, 13%);
    cursor: pointer;
    font-size: 13px;

    &:hover {
      background-color: #eee;
    }
  }
}

.card-white {
  background-color: #ffffff;
}

.navbar-brand img {
  max-height: 1.875rem;
}

.breadcrumb-main {
  border-radius: 0;
}

.primary-content {
  background-color: #fafafa;
  border-right: 1px solid #e0e0e0;
  height: 100%;
  transition: width .5s;
}

.sidebar {
  border-right: 1px solid #E0E0E0;
  min-height: 100%;
  position: fixed;
}

.sidebar, .sidebar > [class^="col-"], .sidebar > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.card-sidebar {
  > .card-img-top {
    border: 0;
    border-radius: 0;
    height: 140px;
    max-width: 100%;
  }
  border: 0;
  border-radius: 0;
}

.card-img-top-sidebar {
  border: 0;
  border-radius: 0;
  max-width: 100%;
}

.sidebar > .card {
  border: 0;
  border-radius: 0;
}

/*----------------------------------------
    Breadcrumb
------------------------------------------*/

.breadcrumb.breadcrumb-main {
  background-color: rgb(238, 238, 238);
}

.breadcrumbs-title {
  font-size: 1.5rem;
  line-height: 1.804rem;
  // margin: 18px 0px 0px 0px;
}

.breadcrumb a {
  color: #00bcd4;
}

.breadcrumb .active {
  color: #999999;
  font-weight: normal;
}

h5.breadcrumbs-header {
  font-size: 1.64rem;
  line-height: 1.804rem;
  // margin: 1.5rem 0 0 0;
}
