<div class="row" style="background-color: #fafafa; height: 100%;">
  <div class="col-md-12" style="z-index: 10; background-color: #fafafa; min-height: 100%;">
    <div class="row no-gutters">
      <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-main" style="background-color: #eee;">
          <li class="active">
            VK-Auftrag: {{model.baanId}}
          </li>
          <li><a {{action 'toggleRightSidebar'}}>Toggle</a></li>
        </ol>
        {{!-- <button {{action 'saveGamePath' model}} type="button" class="md-button md-fab-1 md-button-abs-context md-button-green"><i class="fa fa-save"></i></button> --}}
      </div>
    </div>
    <div class="row" style="background-color: #fafafa;">
      <div class="col-md-12">
        <div class="card card-white">
          <div class="card-header">
            Offene VK-Positionen
          </div>
            <table class="table table-md">
              <thead>
                <tr>
                  <th></th>
                  <th>Pos</th>
                  <th>Artikel</th>
                  <th>Lager</th>
                  <th>Gebiet</th>
                  <th>Versand</th>
                  <th>Verf.</th>
                </tr>
              </thead>
              <tbody>
                {{#each availableItems as |purchasePosition|}}
                  <tr {{action 'loadPosition' purchasePosition}}>
                    <td>
                      <i class="fa {{if purchasePosition.selected 'fa-check-square-o' 'fa-square-o'}}" style="color: blue;"></i>
                    </td>
                    <td>
                      {{#link-to "purchase-position" purchasePosition}}{{purchasePosition.baanId}}{{/link-to}}
                    </td>
                    <td>{{purchasePosition.article}}</td>
                    <td>{{purchasePosition.storageLocation}}</td>
                    <td>{{purchasePosition.zipLocation.title}}</td>
                    <td>{{purchasePosition.formattedDate}}</td>
                    <td>{{purchasePosition.availableQuantity}}</td>
                  </tr>
                {{else}}
                  <tr>
                    <td colspan="7">
                      No data available
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
      </div>

      {{#each model.pallets as |palletd|}}
        <div class="col-md-12">
          <div class="card card-white">
            <div class="card-header">
              Palette: {{pallet.id}}
            </div>
              <table class="table table-md">
                <thead>
                  <tr>
                    <th>
                      <i {{action 'loadItems' pallet.lineItems pallet}} class="fa {{if pallet.selected 'fa-check-square-o' 'fa-square-o'}}"></i>
                    </th>
                    <th>Pos</th>
                    <th>Artikel</th>
                    <th>Lager</th>
                    <th>Gebiet</th>
                    <th>Versand</th>
                    <th>Anz.</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each pallet.lineItems as |lineItem|}}
                    <tr {{action 'loadItem' lineItem}}>
                      <td>
                        <i class="fa {{if lineItem.selected 'fa-check-square-o' 'fa-square-o'}}" style="color: blue;"></i>
                      </td>
                      <td>
                        {{#link-to "purchase-position" lineItem.purchasePosition}}{{lineItem.purchasePosition.baanId}}{{/link-to}}
                      </td>
                      <td>{{lineItem.purchasePosition.article}}</td>
                      <td>{{lineItem.purchasePosition.storageLocation}}</td>
                      <td>{{lineItem.purchasePosition.zipLocation.title}}</td>
                      <td>{{lineItem.purchasePosition.formattedDate}}</td>
                      <td>{{lineItem.quantity}}</td>
                      {{!-- <td>
                        <button {{action 'remove' lineItem pallet}} class="btn btn-primary btn-sm">-</button>
                        <button {{action 'add' lineItem}} class="btn btn-primary btn-sm">+</button>
                      </td> --}}
                    </tr>
                  {{else}}
                    <tr>
                      <td colspan="7">
                        No data loaded
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                </tfoot>
              </table>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
  <div class="col-md-2 navbar-right">
    <div class="card card-sidebar">
      <table class="table table-md">
        <tbody>
          <tr>
            <th colspan="3" style="border-top: 1px solid #eceeef;">
              Selected Purchase Positions
            </th>
          </tr>
          {{#each selectedPositions as |purchasePosition|}}
            <tr>
              <td>
                {{purchasePosition.baanId}}
              </td>
              <td>
                {{purchasePosition.availableQuantity}}
              </td>
              <td>
                <i class="fa fa-arrow-down fa-lg btn-link"></i>
              </td>
            </tr>
          {{else}}
            <tr>
              <td>
                no items selected
              </td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="3">
              <a {{action 'activatePalletSearch'}}>Search</a> pallet or create <a {{action 'buildPallet'}}>new</a>
            </td>
          </tr>
        </tbody>
      </table>
      {{#if isSearching}}
        <div class="list-group list-group-flush list-group-sidebar list-group-sidebar-right">
          <div class="list-group-item">
            <form class="form-inline">
              <input type="number" class="form-control" placeholder="Paletten Nummer">
              <a>abort</a>
            </form>
          </div>
        </div>
      {{/if}}
      <table class="table table-md" style="padding-top: 8px;">
        <tbody>
          <tr>
            <th colspan="2" style="border-top: 1px solid #eceeef;">
              Palette {{selectedBasket.id}}
            </th>
            <th style="border-top: 1px solid #eceeef;">
              <i class="fa fa-refresh fa-lg btn-link"></i>
            </th>
          </tr>
          {{#each selectedBasket.lineItems as |lineItem|}}
            <tr>
              <td>{{lineItem.purchasePosition.baanId}}</td>
              <td>{{lineItem.quantity}}</td>
              <td>
                <i {{action 'add' lineItem}} class="fa fa-plus fa-lg btn-link"></i>
                <i {{action 'remove' lineItem pallet}} class="fa fa-minus fa-lg btn-link"></i>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
