<div class="row no-gutters">
  <div class="col-md-12">
    <ol class="breadcrumb breadcrumb-main" style="background-color: #e0e0e0;">
      <li class="active">
        VK-Positionen
      </li>
    </ol>
    {{!-- <button {{action 'saveGamePath' model}} type="button" class="md-button md-fab-1 md-button-abs-context md-button-green"><i class="fa fa-save"></i></button> --}}
  </div>
</div>

<div class="card card-white">
  <table class="table table-md">
    <thead>
      <tr>
        <th>VK</th>
        <th>Artikel</th>
        <th class="text-align-right">Verfügbar</th>
        <th>Versand</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |purchasePosition|}}
        {{#link-to 'purchase-position' purchasePosition tagName="tr"}}
          <td>{{purchasePosition.baanId}}</td>
          <td>{{purchasePosition.article}}</td>
          <td class="text-align-right">{{purchasePosition.availableQuantity}}</td>
          <td>{{purchasePosition.formattedDate}}</td>
        {{/link-to}}
      {{/each}}
    </tbody>
  </table>
  {{infinity-loader infinityModel=model}}
</div>
