<div class="row no-gutters">
  <div class="col-md-12">
    <ol class="breadcrumb breadcrumb-main" style="background-color: #e0e0e0;">
      <li class="active">
        Paletten
      </li>
    </ol>
    {{!-- <button {{action 'saveGamePath' model}} type="button" class="md-button md-fab-1 md-button-abs-context md-button-green"><i class="fa fa-save"></i></button> --}}
  </div>
</div>

{{#each model as |pallet|}}
  <div class="card card-white">
    <div class="card-header">
      Palette: {{pallet.id}}
    </div>
    <table class="table table-md">
      <thead>
        <tr>
          <th>Id</th>
          <th>Anz.</th>
          <th>Artikel</th>
          <th>Lager</th>
          <th>Versand</th>
        </tr>
      </thead>
      <tbody>
        {{#each pallet.lineItems as |lineItem|}}
          {{#link-to 'purchase-position' lineItem.purchasePosition tagName="tr"}}
            <td>{{lineItem.purchasePosition.baanId}}</td>
            <td>{{lineItem.quantity}}</td>
            <td>{{lineItem.purchasePosition.article}}</td>
            <td>{{lineItem.purchasePosition.storageLocation}}</td>
            <td>{{lineItem.purchasePosition.formattedDate}}</td>
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}
{{infinity-loader infinityModel=model}}
