<nav class="navbar navbar-fixed-top navbar-dark md-bg-green navbar-md">
  {{#link-to "purchase-orders" class="navbar-brand"}}
    <img src="{{'/assets/images/logo.png'}}" alt="Kern.Fusion" />
  {{/link-to}}
  <ul class="nav navbar-nav">
    {{#link-to 'purchase-orders' class="nav-item" tagName="li"}}
      {{#link-to 'purchase-orders' class="nav-link"}}
        VK-Aufträge
      {{/link-to}}
    {{/link-to}}
  </ul>
  <form class="form-inline navbar-form pull-right">
    <input class="form-control" type="text" placeholder="Search">
  </form>
</nav>

<div class="container-fluid height-full">
  <div class="row height-full">
    <div class="col-md-2 sidebar">
      <div class="card card-sidebar">
        <img class="card-img-top" src="https://www.hdwallpapers.net/images/google-material-design-wallpaper-for-facebook-cover-48-853.jpg">
        <div class="list-group list-group-flush list-group-sidebar">
          {{#link-to 'purchase-orders' class="list-group-item"}}
            <span class="item-icon">
              <i class="fa fa-briefcase fa-lg fa-fw"></i>
            </span>
            <span class="item-text">VK-Aufträge</span>
          {{/link-to}}
          {{#link-to 'purchase-positions' class="list-group-item"}}
            <span class="item-icon">
              <i class="fa fa-cubes fa-lg fa-fw"></i>
            </span>
            <span class="item-text">VK-Positionen</span>
          {{/link-to}}
          {{#link-to 'pallets' class="list-group-item"}}
            <span class="item-icon">
              <i class="fa fa-shopping-basket fa-lg fa-fw"></i>
            </span>
            <span class="item-text">Paletten</span>
          {{/link-to}}
          {{#link-to 'cargo-lists' class="list-group-item"}}
            <span class="item-icon">
              <i class="fa fa-truck fa-lg fa-fw"></i>
            </span>
            <span class="item-text">Versand</span>
          {{/link-to}}
        </div>
        <div class="list-group list-group-flush list-group-sidebar">
          {{#link-to 'profile' class="list-group-item"}}
            <span class="item-icon">
              <i class="fa fa-user fa-lg fa-fw"></i>
            </span>
            <span class="item-text">Account</span>
          {{/link-to}}
        </div>
      </div>
    </div>
    <div {{bind-attr class=":col-md-offset-2 :primary-content primaryContentColSize"}}>
      <!-- {{#if session.isAuthenticated}}
        {{side-bar filteredResults=filteredResults}}
      {{/if}} -->
      {{outlet}}
    </div>
  </div>
</div>
